body {
  min-height: 60rem;
  width: 100%;
  padding-top: 90px;
  font-family: "Inter", sans-serif;
}
.el-button-group {
  display: none;
}
.el-date-editor .el-range-separator {
  margin-right: 10px;
}
.custom-control-label {
  margin-left: 20px;
}
.el-icon-s-comment {
  color: #a843a8;
}
.el-tooltip__popper.is-light {
  background: none !important;
  border: none !important;
}
.note-wrapper {
  width: fit-content;
  height: fit-content;
  background-color: #f4f4f4;
  padding: 15px;
  box-sizing: content-box;
  border-radius: 10px;
}
.el-calendar-day {
  padding: 0 !important;
}
.el-calendar-table td {
  border-bottom: none !important;
  border-right: none !important;
}
.cell {
  word-break: break-word !important;
}
#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.notfound {
  max-width: 520px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
}

.notfound .notfound-404 {
  position: relative;
  height: 200px;
  margin: 0px auto 20px;
  z-index: -1;
}
.notfound .notfound-404 h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 236px;
  font-weight: 200;
  margin: 0px;
  color: #211b19;
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.notfound .notfound-404 h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  font-weight: 400;
  text-transform: uppercase;
  color: #211b19;
  background: #fff;
  padding: 10px 5px;
  margin: auto;
  display: inline-block;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
}

.notfound a {
  font-family: "Montserrat", sans-serif;
  display: inline-block;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  padding: 13px 23px;
  background: #d70a0f;
  font-size: 18px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.notfound a:hover {
  color: #d70a0f;
  background: white;
}

@media only screen and (max-width: 767px) {
  .notfound .notfound-404 h1 {
    font-size: 148px;
  }
}

@media only screen and (max-width: 480px) {
  .notfound .notfound-404 {
    height: 148px;
    margin: 0px auto 10px;
  }
  .notfound .notfound-404 h1 {
    font-size: 86px;
  }
  .notfound .notfound-404 h2 {
    font-size: 16px;
  }
  .notfound a {
    padding: 7px 15px;
    font-size: 14px;
  }
}
.el-carousel__indicators--outside {
  display: none;
}
.el-rate__item {
  margin-right: -7px !important;
}
.button {
  display: inline-block;
  max-width: 100%;
  padding: 0 24px;
  height: 50px;
  line-height: 50px;
  background-color: #173f35;
  border: 1px solid #173f35;
  color: #fff;
  border-radius: 0;
  font-family: inherit;
  font-weight: 500;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  text-align: center;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: border-color 0.2s cubic-bezier(0.12, 0.98, 0.33, 0.99),
    background-color 0.2s cubic-bezier(0.12, 0.98, 0.33, 0.99),
    color 0.2s cubic-bezier(0.12, 0.98, 0.33, 0.99);
}
.button.secondary {
  min-width: 150px;
  border-color: #2d2926;
  background-color: transparent;
  color: #2d2926;
}
.button.secondary:active,
.button.secondary:hover {
  border-color: #979797;
  background-color: transparent;
  color: #979797;
}
.button.reversed {
  border-color: #fff;
  background-color: #fff;
  color: #2d2926;
}
a.button,
a.button:hover {
  text-decoration: none;
}
a {
  color: #173f35!important;
  text-decoration: none!important;
}
.button:hover {
  background-color: #206c49;
  border-color: #206c49;
}

.helper {
position: -webkit-sticky;
  position: sticky;
  margin-right: 30px;
  margin-bottom: 30px;
  width: 45px;
  height: 45px;
  background-color: #173f35;
  border-radius: 50%;
  cursor: pointer;
}

.helper svg {
  position: absolute;
  max-width: 65% !important;
  max-height: 65% !important;
  overflow: visible !important;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  visibility: visible;
  opacity: 1;
}
.rewards-sticky{
  position: -webkit-sticky;
  position: sticky;
  margin-left: 30px;
  margin-bottom: 30px;
  width: 146px;
  height: 60px;
  background-color: #173f35;
  border-radius: 30px;
  padding-top: 10px;
  cursor: pointer;
}
.rewards-sticky .launcher-text {
  color: white;
  margin-left: 12px;
   font-size: 16px;
   line-height: 30px;
   white-space: nowrap;
}
.rewards-sticky .launcher-icon {
  height: 30px;
  width: 30px;
}
.slick-list{
    padding: 0 !important;
}
.slick-prev:before {
    content: ''!important;
}
.slick-next:before {
    content: ''!important;
}
.slick-arrow svg .fill {
    fill: #173f35;
}
.slick-arrow {
    z-index: 1;
    padding: 16px 21px;
    text-align: center;
    transition: padding .2s cubic-bezier(.12,.98,.33,.99),background-color .2s cubic-bezier(.12,.98,.33,.99);
    will-change: padding,background-color;
}
.slick-prev:before, .slick-next:before {
    line-height: 2!important;
}
.slick-prev, .slick-next {
    width: 57px!important;
    height: 57px!important;
    background: #f4f3f0bf!important;
}
.el-input__inner{
  background-color: unset!important;
  border: none;
  color: white;
  text-transform: uppercase;
  font-size: 1.625rem;
  letter-spacing: 6.7px;
  line-height: 1.92;
}
.el-input__suffix {
  right: 0px;
}
.el-select-dropdown__item{
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 6.7px;
  line-height: 1.92;
  color: #54585a;
}
.el-select-dropdown__item:hover {
  color: #206c49;
  text-decoration: underline;
}
.el-select-dropdown__item.selected {
  color: #206c49;
  font-weight: 700;
}
.overlay {
  position: absolute;
  background: rgba(57, 57, 57, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.overlay_2 {
  inset: 0;
}
 .ooo-instagram-media__overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 14px 20px;
  font-size: 0.9em;
  background: rgba(0, 0, 0, 0.65);
  color: #ffffff;
   opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.ooo-instagram-media__caption {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.ooo-instagram-media__date {
  margin-top: auto;
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: 500;
  letter-spacing: 0.1em;
}
.ooo-instagram-media:hover .ooo-instagram-media__overlay{
  opacity: 1;
}
